 * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 body {
    height: 100vh;
    background-image: linear-gradient(to top, white, rgb(255, 106, 255), rgb(245, 43, 245), purple, rgb(52, 218, 162));
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
}

button {
    height: 35px;
    width: 150px;
    display: block;
    margin: auto;
    border: 1px solid blue;
}

button:hover {
    background-color: lightblue;
}

#titulo {
    text-align: center;
 line-height: 30px;
}

section {
    text-align: center;
    line-height: 30px;
    
}
